.card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border: 1px solid rgba(255, 255, 255, .25);
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

        backdrop-filter: blur(10px);
}

.card-title {
        color: #1E140B;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 40px;
        text-align: center;
}

.list-card-body {
        width: 1250px;
        height: 500px;
        overflow: auto;
}

.location-card-img-top {
        border-radius: 20px 20px 0 0;
}



.btn {
        font-size: 17px;
        padding: 0.5em 2em;
        border: transparent;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
        background: #779e7d;
        color: #1E140B;
        border-radius: 4px;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
}

.hr {
        align-items: center;
}

.btn:hover {
        background: #70a078;
        background: linear-gradient(90deg, #779e7d 0%, #92c2ad 100%);
}

.btn:active {
        transform: translate(0em, 0.2em);
}

.button-spacing {
        text-align: center;
}

.signin-message {
        text-align: center;
        color: #1E140B;
        color: #1E140B;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
}

body {
        font: 1em/1.618 Inter, sans-serif;

        display: flex;
        align-items: center;
        justify-content: center;

        min-height: 100vh;
        padding: 30px;
        margin: 0;

        color: #224;
        background:
        url(https://images.unsplash.com/photo-1602595688238-9fffe12d5af3?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
        center / cover no-repeat fixed;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        color: #251b12;
}

* {
        box-sizing: border-box;
}

nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 16px 20px 30px 20px;
        display: flex;
        align-items: center;
        transition: 0.3s ease-out;
        backdrop-filter: blur(8px) brightness(1.2);
        -webkit-backdrop-filter: blur(8px) brightness(1.2);
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        color: #1E140B;
        font-size: 30px;
        &.mask {
        mask-image: linear-gradient(black 70%, transparent);
        -webkit-mask-image: linear-gradient(black 70%, transparent);
        }
&.mask-pattern {
        top: 300px;
        mask-image: url("data:image/svg+xml, %3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12.21 10.57%27%3E%3Cpath fill=%27%23ffffff%27 d=%27M6.1 0h6.11L9.16 5.29 6.1 10.57 3.05 5.29 0 0h6.1z%27/%3E%3C/svg%3E"), linear-gradient(black calc(100% - 30px), transparent calc(100% - 30px));
        mask-size: auto 30px, 100% 100%;
        mask-repeat: repeat-x, no-repeat;
        mask-position: left bottom, top left;

        -webkit-mask-image: url("data:image/svg+xml, %3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12.21 10.57%27%3E%3Cpath fill=%27%23ffffff%27 d=%27M6.1 0h6.11L9.16 5.29 6.1 10.57 3.05 5.29 0 0h6.1z%27/%3E%3C/svg%3E"), linear-gradient(black calc(100% - 30px), transparent calc(100% - 30px));
        -webkit-mask-size: auto 30px, 100% 100%;
        -webkit-mask-repeat: repeat-x, no-repeat;
        -webkit-mask-position: left bottom, top left;
        }
}
nav.is-hidden {
        transform: translateY(-100%);
}

.navbar-brand {
        color: #1E140B;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
}

.project-name {
        color: #1E140B;
        font-family: 'Oswald', sans-serif;
}

a {
        color: Black;
        text-decoration: none;
}

a:hover {
        color: Black;
        text-decoration: none;
}

.list {
        list-style-type: none;
        margin-left: auto;
        display: none;
        @media (min-width: 640px) {
        display: flex;
        }
        li {
        margin-left: 20px;
        }
}
.menu {
        display: inline-block;
        padding: 0;
        font-size: 0;
        background: none;
        border:  none;
        margin-left: 20px;
        filter: drop-shadow(0 0 5px rgba(0,0,0,.5));
        &::before {
        content: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2024.8%2018.92%27%20width=%2724.8%27%20height=%2718.92%27%3E%3Cpath%20d=%27M23.8,9.46H1m22.8,8.46H1M23.8,1H1%27%20fill=%27none%27%20stroke=%27%23fff%27%20stroke-linecap=%27round%27%20stroke-width=%272%27%2F%3E%3C%2Fsvg%3E")
        }
        @media (min-width: 640px) {
        display: none;
        }
}

.table {
        border-color: white;
        color: #1E140B;
        --bs-table-striped-bg: rgba(119, 158, 125, 0.2);
        overflow: scroll;
}
.table-hover {
        color: 0 0 5px rgba(119, 158, 125, 0.4);
}

/* Palette 1:
#ef7760, salmon
#efaa24, mustard
#eceb13, yellow green
#78c826, lime
#47bf79, blue green
*/

/* Palette 2:
#ef8f51, light orange
#ecbd40, lighter mustard
#acc84c, lime
#6cbf78, blue green
#3db983, darker blue green
*/


/* unsplash.com */
/* DESK */
/* https://images.unsplash.com/photo-1519219788971-8d9797e0928e?q=80&w=2044&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */

/* BRIGHT LOBBY */
/* https://images.unsplash.com/photo-1602595688238-9fffe12d5af3?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */

/* GREEN CHAIR */
/* https://images.unsplash.com/photo-1580615633399-a69c661568c9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */
